.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 90%;
  max-width: 1200px;
}

p {
  color: rgb(196, 172, 15);
}

.banner {
  width: 1200px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 40px;
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin: 20px auto;
  width: 1200px;
}

.pagination button {
  background-color: rgb(196, 172, 15);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
